body{
    overflow: hidden;
    margin:0;
    padding:0;
}

#root, .container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loader-container{
    width:100%;
    height:100%;
    background-color: yellow;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width:200px;
    height:20px;
    background-color: red;
}

.loader-bar{
    width: 0;
    height:100%;
    background: green;
}



.annotation {
    cursor: pointer;
    width:24px;
    height:24px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color:white;
}

.annotation:hover {
    background-color: goldenrod;
}

.controls{
    position: fixed;
    top:0;
    right:0
}

#canvas-container-walk, #canvas-container-activity{
    width: 100%;
    height: 100%;
}

.inactive{
    display: none;
}

.poster{
    background-color: white;
    border: 1px solid black;
}